<!DOCTYPE html>
<html>
	<head>
		<%= css :application, :media => 'screen' %>
	</head>
	
	<body class="sign">
		<div class="sign-box">
			<div class="row">
				<div class="medium-12 columns">
					<div data-alert class="alert-box alert round">
 						<h1>403</h1> You are not alloweded to see the content of this page
					</div>
				</div>
			</div>	
		</div>	
	</body>
</html>
