<!DOCTYPE html>
<html>
	<head>
		<%= css :admin, :media => 'screen' %>
		<%= js :admin %>	
	</head>
	
	<body>
		
	
	<nav>
			<ul class="right">
				<% if is_signed_in? %>
					<li><a href="#"><%= current_user.email %></a></li>
					<li><a href="#">Logout</a></li>
				<% end%>
			</ul>	
		</nav>
		<%= yield %>	
	</body>
</html>
