<!DOCTYPE html>
<html>
	<head>
		<%= css :application, :media => 'screen' %>
	</head>
	
	<body>
		<nav>
			<ul class="right">
				<% if is_signed_in? %>
					<li><a href="#"><%= current_user.email %></a></li>
					<li><a href="/users/sign_out">Logout</a></li>
				<% end%>
			</ul>	
		</nav>
		<%= yield %>	
	</body>
</html>


