<!DOCTYPE html>
<html>
	<head>
		<%= css :application, :media => 'screen' %>
	</head>
	
	<body>
		<div class="sign-box">
			<div class="row">
    		<div class="medium-12 small-12 large-12 columns text-center"><br />
					<h2>DanceMeCms Sign Up</h2> 
				</div>
			</div>
				
			<div class="row">
				<form action="/users" class="" method="POST">
					
					<div class="row">
						<div class="medium-12 columns">
							<label>Email
								<input type="text" name="user[email]"/>
							</label>
						</div>
					</div>	

					<div class="row">
						<div class="medium-12 columns">
							<label>Password
								<input type="password" name="user[password]"/>
							</label>
						</div>
					</div>		
					
					<div class="row">
						<div class="medium-12 columns">
							<label>Re-type password
								<input type="password" name="user[password_confirmation]"/>
							</label>
						</div>
					</div>	
				</form>
			</div>			
			

			<input class="button" id="button_submit" name="submit" type="submit" value="Sign Up" />
		</div>
		
		</body>
</html>
