<!DOCTYPE html>
<html>
	<head>
		<%= css :application, :media => 'screen' %>
	</head>
	
	<body>
		<div class="sign-box">
			<div class="row">
    		<div class="medium-12 small-12 large-12 columns text-center"><br />
					<h2>DanceMeCms Sign Up</h2> 
				</div>
			</div>
				
		
				<form action="/users" class="" method="POST">
					
					<div class="row">
						<div class="medium-12 columns">
							<label>Email
								<input type="text" name="user[email]"/>
							</label>

							<% if @user.errors.messages[:email] %>
								<small class="error"><%= @user.errors.messages[:email].first %></small>
							<% end %>
						</div>
					</div>	

					<div class="row">
						<div class="medium-12 columns">
							<label>Password
								<input type="password" name="user[password]"/>
							</label>
							<% if @user.errors.messages[:password] %>
								<small class="error"><%= @user.errors.messages[:password].first %></small>
							<% end %>
						</div>
					</div>		
					
					<div class="row">
						<div class="medium-12 columns">
							<label>Re-type password
								<input type="password" name="user[password_confirmation]"/>
							</label>
							<% if @user.errors.messages[:password_confirmation] %>
								<small class="error"><%= @user.errors.messages[:password_confirmation].first %></small>
							<% end %>

						</div>
					</div>	
					
					<div class="row">	
						<input class="button" id="button_submit" name="submit" type="submit" value="Sign Up" />
					</div>	
				</form>
			</div>
		
		</body>
</html>
